body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
}


input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}


button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}